@font-face {
    font-family: Hanken Grotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}

.heading-XL {
    font-size: 7.2rem;
}

.heading-L {
    font-size: 3.2rem;
}

.heading-M {
    font-size: 2.4rem;
}

.bold {
    font-size: 1.8rem;
    font-weight: bold;
}
